.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    >h1{
        font-size: 64px;
        color: white;
        font-family: "Grechen Fuemen"
    }

    >img {
        height: 50%;
        width: 97%;
    }
}